<div class='well'>
  
<%= @song.artist %>  
  <hr />
<%= @song.title %>  |
<%= @song.length %>
  <hr />
<%= link_to "Add Comment", new_comment_path, class: "btn btn-success"  %>
</div>
<div class='well'>
<% @song.comments.each do |c| %>
  <%= c.content %>
<% end %>
</div>
<%= render partial: 'comments/form' %>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
