<!DOCTYPE html>
<html>
<head>
  <title>BpmApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar navbar-fixed-top'>
 <div class='navbar-inner'>
   <div class='container'>
    <a href="#" class='brand'>120BPM</a> 
    <ul class='nav'>
      <li><%= link_to "All Comments", comments_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <li><%= link_to('Sign up', new_user_registration_path)  %></li>
      <li><%= link_to('Sign in', new_user_session_path)  %></li>


    </ul>    
   </div>
 </div> 
</div>



<div class='container'>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
 <%= yield %>


</div>
</body>
</html>
